<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Backoffice de administración de una pastelería</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/BackOffice.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">


<body>

	<nav class="navbar">
		<div class="container-fluid">
			<!-- Mi perfil -->
			<div class="user-profile">
				<h4>Mi Perfil</h4>
				<p><strong>Usuario:</strong> <span th:text="${user.username}"></span></p>
				<p><strong>Nombre:</strong> <span th:text="${user.nombre}"></span></p>
				<p th:utext="'<strong>Apellidos:</strong> ' + ${user.apellido1} + ' ' + ${user.apellido2}"></p>
			</div>
			<div class="navbar-buttons">
				<a sec:authorize="hasRole('admin')" class="btn btn-primary" href="#crearUsuario" data-toggle="modal"
					data-target="#crearUsuarioModal">Crear Usuario</a>
				<form th:action="@{/logout}" method="POST" id="logoutForm">
					<button id="btn-logout" type="submit" class="btn btn-primary">Cerrar Sesión</button>
				</form>
				<a class="btn btn-primary" th:href="@{/index}">Atrás</a>
			</div>
		</div>
	</nav>

	<div sec:authorize="hasAnyRole('admin','pastelero')" class="page-content">
		<h2 id="listarPedidos">Listar Pedidos</h2>
		<!-- Aquí va la tabla para listar pedidos -->
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Cliente</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pedido : ${pedidos}">
					<td th:text="${pedido.id}"></td>
					<td th:text="${pedido.cliente.username}"></td>
					<td th:text="${pedido.estado}"></td>
					<td>
						<!-- Botón para borrar pedido -->
						<form sec:authorize="hasRole('admin')" th:action="@{/borrarPedido}" method="post">
							<input type="hidden" th:name="idPedido" th:value="${pedido.id}">
							<button type="submit" class="btn btn-danger">Borrar</button>
						</form>

						<!-- Botón para aceptar pedido -->
						<form sec:authorize="hasRole('pastelero')" th:action="@{/aceptarPedido}" method="post">
							<input type="hidden" th:name="idPedido" th:value="${pedido.id}">
							<button type="submit" class="btn btn-success">Aceptar</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>

		<h2 sec:authorize="hasRole('admin')" id="listarUsuarios">Listar Usuarios</h2>
		<!-- Aquí va la tabla para listar usuarios -->
		<table sec:authorize="hasRole('admin')" class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>NIF</th>
					<th>Email</th>
					<th>Username</th>
					<th>Rol</th>
					<th>Acciones</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${usuarios}">
					<td th:text="${user.nombre}"></td>
					<td th:text="${user.nif}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.username}"></td>
					<td><span th:each="rol : ${user.roles}" th:text="${rol.roleName} + ' '"></span></td>
					<td>
						<form th:action="@{/borrarUsuario}" method="post">
							<input type="hidden" th:name="userId" th:value="${user.userID}">
							<button type="submit" class="btn btn-danger">Borrar</button>
						</form>
					</td>
			</tbody>
		</table>
	</div>
	<script>
    function enviarFormularioAJAX(formulario, event) {
        // Evitar el envío del formulario por defecto
        event.preventDefault();

        // Serializar los datos del formulario en formato JSON
        var datosFormulario = $(formulario).serializeArray();
        var usuario = {};
        $(datosFormulario).each(function(index, obj) {
            usuario[obj.name] = obj.value;
        });

        // URL del servidor para recibir la solicitud
        var urlServidor = "/CrearUsuario";

        // Información de autorización
      var token = $("meta[name='_csrf']").attr("content");
	  var header = $("meta[name='_csrf_header']").attr("content");

        // Enviar la solicitud AJAX
        $.ajax({
            url: urlServidor,
            method: "POST",
            contentType: "application/json", // Establecer el tipo de contenido como JSON
            data: JSON.stringify(usuario), // Convertir los datos a formato JSON
            beforeSend: function(request) {
                request.setRequestHeader(header, token);
            },
            success: function(respuesta) {
                console.log(respuesta);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            }
        });
    }
</script>


	<div sec:authorize="hasRole('admin')" class="modal fade" id="crearUsuarioModal" tabindex="-1" role="dialog"
		aria-labelledby="crearUsuarioModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="crearUsuarioModalLabel">Crear Usuario</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- Aquí va el formulario para crear usuarios -->
					<form  th:action="@{/CrearUsuario}" th:method="POST" >
						<label>Nombre</label>
						<input type="text" id="nombre" placeholder="Nombre" name="nombre" required>
						<br>
						<label>Apellido1</label>
						<input type="text" id="apellido1" placeholder="Apellido1" name="apellido1" required>
						<br>
						<label>Apellido2</label>
						<input type="text" id="apellido2" placeholder="Apellido2" name="apellido2" required>
						<br>
						<label>NIF</label>
						<input type="text" id="nif" placeholder="NIF" name="nif" required>
						<br>
						<label>Email</label>
						<input type="email" id="email" placeholder="Email" name="email" required>
						<br>
						<label>Usuario</label>
						<input type="text" id="username" placeholder="Usuario" name="username" required>
						<br>
						<label>Contraseña</label>
						<input type="password" id="password" placeholder="Contraseña" name="password" required>
						<br>
						<label>Confirmar contraseña</label>
						<input type="password" id="confirm_password" placeholder="Confirmar contraseña" required>
						<br>
						<label for="role">Selecciona un rol:</label>
						<select name="role" id="role" required>
							<option value="">Seleccione un rol</option>
							<option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.roleName}" ></option>
						</select>
						<br>
						<div id="campo-oculto" style="display: none;">						
							<label>Especialidad</label>
							<input type="text" id="especialidad" placeholder="Especialidad" name="especialidad">
							<br>
							<label>Experiencia</label>
							<input type="text" id="experiencia" placeholder="Experiencia" name="experiencia">
							<br>
						</div>				
						<button type="submit" class="btn btn-primary" onsubmit="enviarFormularioAJAX(this, event)">Crear Usuario</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script th:src="@{js/BackOffice.js}"></script>



	<!-- Footer con redes sociales y descripción -->
	<footer class="bg-dark text-white py-4">
		<!-- Descripción -->
		<p class="mb-3">¡Síguenos en nuestras redes sociales para estar al tanto de nuestras deliciosas novedades!</p>

		<!-- Redes Sociales -->
		<!-- Agrega una nueva clase "social-icon" para controlar el tamaño -->
		<div class="social-icons mb-3">
			<a href="#" class="btn btn-icon btn-social">
				<img th:src="@{/img/twitterico.png}" alt="Twitter" class="social-icon">
			</a>
			<a href="#" class="btn btn-icon btn-social">
				<img th:src="@{/img/instagramico.png}" alt="Instagram" class="social-icon">
			</a>
			<a href="#" class="btn btn-icon btn-social">
				<img th:src="@{/img/facebookicon.png}" alt="Facebook" class="social-icon">
			</a>
			<a href="#" class="btn btn-icon btn-social">
				<img th:src="@{/img/tiktokicon.png}" alt="TikTok" class="social-icon">
			</a>
		</div>

		<!-- Información de derechos reservados -->
		<p>&copy; 2024 Pastelería Dulce Delicia. Todos los derechos reservados.</p>
	</footer>
</body>

</html>