<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pastelería Dulce Delicia</title>
    <link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}">
</head>
<body >

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/index}">Dulce Delicia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/productos}">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/contacto}">Contacto</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" sec:authorize="hasAnyRole('admin','pastelero')" th:href="@{/BackOffice}"><strong>Gestion de Pedidos y usuarios</strong></a>
            </li>
        </ul>
    </div>

  <div class="ml-auto">
    <form th:action="@{/logout}" method="POST" id="logoutForm">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">
            Cerrar Sesión
        </button>
    </form>
</div>

</nav>



<!-- Contenido principal -->
<div class="container">
	<div class="contenido-principal">
    <h1 class="titulos">Bienvenido a Dulce Delicia</h1>
    <p class="text-center">Descubre nuestros deliciosos pasteles y postres.</p>
    <!-- Productos -->
    <div class="productos">
        <div class="producto">
            <h2 class="text-center">Pastel Personalizado</h2>
            <img src="img/personalizado.png" alt="Pastel Personalizado" class="img-fluid rounded" />
        </div>
        
        <div class="producto">
            <h2 class="text-center">Cupcakes</h2>
            <img src="img/cupcakes.jpg" alt="Cupcakes" class="img-fluid rounded" />
        </div>
        <div class="producto">
            <h2 class="text-center">Tartas</h2>
            <img src="img/tarta2.jpg" alt="Tarta" class="img-fluid rounded" />
        </div>
        <div class="producto">
            <h2 class="text-center">Galletas</h2>
            <img src="img/galletas.png" alt="Galletas" class="img-fluid rounded" />
        </div>
         <div class="producto">
            <h2 class="text-center">Croissant</h2>
            <img src="img/croissant.jpg" alt="Croissant" class="img-fluid rounded" />
        </div>
         <div class="producto">
            <h2 class="text-center">Donuts personalizados</h2>
            <img src="img/donuts.jpg" alt="Donuts" class="img-fluid rounded" />
        </div>
    </div>
</div>
</div>

       <!-- Últimas Creaciones -->
<div class="col">
    <h2 class="titulos">Últimas Creaciones</h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/dulce1.png" class="d-block w-100 mb-3 rounded" alt="Pastel 1">
            </div>
            <div class="carousel-item">
                <img src="img/tarta1.jpg" class="d-block w-100 mb-3 rounded" alt="Pastel 2">
            </div>
            <div class="carousel-item">
                <img src="img/dulce2.png" class="d-block w-100 mb-3 rounded" alt="Pastel 3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>


<!-- Footer con redes sociales y descripción -->
<footer class="bg-dark text-white py-4">
    <!-- Descripción -->
    <p class="mb-3">¡Síguenos en nuestras redes sociales para estar al tanto de nuestras deliciosas novedades!</p>

    <!-- Redes Sociales -->
    <!-- Agrega una nueva clase "social-icon" para controlar el tamaño -->
    <div class="social-icons mb-3">
        <a href="#" class="btn btn-icon btn-social">
            <img th:src="@{/img/twitterico.png}" alt="Twitter" class="social-icon">
        </a>
        <a href="#" class="btn btn-icon btn-social">
            <img th:src="@{/img/instagramico.png}" alt="Instagram" class="social-icon">
        </a>
        <a href="#" class="btn btn-icon btn-social">
            <img  th:src="@{/img/facebookicon.png}" alt="Facebook" class="social-icon">
        </a>
        <a href="#" class="btn btn-icon btn-social">
            <img  th:src="@{/img/tiktokicon.png}" alt="TikTok" class="social-icon">
        </a>
    </div>

    <!-- Información de derechos reservados -->
    <p>&copy; 2024 Pastelería Dulce Delicia. Todos los derechos reservados.</p>
</footer>


<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js}"></script>
<script th:src="@{js/script.js}"></script>

</body>
</html>
