<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión en la Pastelería</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/registro.css}">

</head>
<body>
    <form th:action="@{/logginprocess}" method="post">
        <div class="logo">
            <img src="https://via.placeholder.com/150" alt="Logo de la Pastelería">
        </div>
        <h2>Iniciar sesión en la Pastelería</h2>
        <input type="text"  placeholder="Nombre de usuario" th:name="@{username}" required>
        <input type="password"  placeholder="Contraseña" th:name="@{password}" required>
        <input type="submit" value="Iniciar sesión">
 <p>¿No estás registrado? <a th:href="@{/registro}">Haz clic aquí para registrarte</a>.</p>
  </form>
       

</body>
</html>
