* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fce8d5; 
    color: #3d3731; 
}

.navbar {
    background-color: #ffffff; 
    color: #ff8364; 
    height: auto;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-brand {
    font-weight: bold;
    color: #ff8364 !important; 
}

.navbar-nav a {
    color: #3d3731 !important; 
}


.page-content {
    padding: 20px;
}

.btn-primary {
    color: #ffffff;
    background-color: #ff8364; 
    border-color: #ff8364; 
}

.btn-primary:hover {
    background-color: #e75b3c; 
    border-color: #e75b3c; 
}


.navbar .navbar-buttons {
    display: flex;
    flex-direction: row;
}

.navbar .navbar-buttons .btn {
    margin-right: 10px; 
    
}
.navbar .container-fluid {
    display: flex;
}

.navbar .navbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
footer {
    position: fixed; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    background-color: #343a40; 
    color: #ffffff; 
    text-align: center; 
    padding: 20px 0; 
}





