
.carrito-body {
    font-family: 'Arial', sans-serif;
    background-color: #fce8d5; 
    color: #3d3731;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

/* Barra de navegación */
.navbar {
    background-color: #ffffff;
}

.navbar-brand {
    font-weight: bold;
    color: #ff8364;
}

/* Contenido principal */
.titulos {
    margin-top: 30px;
    color: #ff8364;
    text-align: center;
}

/* Tabla */
.table {
    background-color: #ffffff;
}

.table thead th {
    background-color: #343a40;
    color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

/* Botón de confirmar compra */
#confirmar-compra {
    background-color: #28a745;
    color: #ffffff;
    border-color: #28a745;
}

#confirmar-compra:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
footer {
    position: fixed; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    background-color: #343a40; 
    color: #ffffff; 
    text-align: center;
    padding: 20px 0; 
}
