body {
    font-family: 'Arial', sans-serif;
    background-color: #fce8d5;
    color: #3d3731;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

/* Tabla */
.table {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
}

.table th, .table td {
    border: 1px solid #dee2e6;
}

/* Código QR */
.qr-code {
    text-align: center;
}

/* Mensaje de información debajo del código QR */
.text-center {
    text-align: center;
    color: #6c757d;
}

/* Detalles del cliente */
#nombre, #nif, #email {
    color: #6c757d;
}

