/* Estilos generales */
*{
	margin: 0;
	padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #fce8d5;
    color: #3d3731;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}

/* Barra de navegación */
.navbar {
    background-color: #ffffff;
}

.navbar-brand {
    font-weight: bold;
    color: #ff8364;
}



/* Contenido principal */
.titulos {
	margin-top: 30px;
    color: #ff8364;
    text-align: center;
}

/* Carousel */
.carousel-inner img {
    max-width: 100%;
    height: auto;
}

/* Footer */
footer {
    text-align: center;
    background-color: #f8f9fa;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Formulario de inicio de sesión */
.form-inline {
    margin-top: 10px;
    text-align: center;
}

/* Botón de inicio de sesión */
.btn-outline-success {
    color: #ff8364;
    border-color: #ff8364;
}

.btn-outline-success:hover {
    background-color: #ff8364;
    color: #fff;
}

/* Tamaño de los iconos de redes sociales */
.social-icon {
    width: 30px;
    height: 30px;
}

.text-center {
    text-align: center;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}


/* Contenedor de productos */
.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Producto */
.producto {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.producto h2 {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}
/* Tamaño del carrusel */
.carousel-inner img {
    max-width: 600px; 
    height: auto;
    margin: auto;
}

/* Tamaño de los controles del carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%; 
}

/* Alineación del carrusel */
.carousel {
    margin-bottom: 20px; 
}

/* Estilos para el icono de carrito */
#cart-icon {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

#cart-icon img {
    width: 30px;
    height: auto;
}

#cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
}
.card-body{
	padding: 20px;
}
.map-container {
	padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    margin: 0 auto; 
}
